[submodule "PDI-Bench-original"]
	path = infrastructure/vendor/PDI-Bench-original
	url = https://github.com/AnteaWu/PDI-Bench.git
[submodule "PDI-Bench-edited/third_party/mega_sam"]
	path = infrastructure/vendor/mega_sam
	url = https://github.com/mega-sam/mega-sam.git
[submodule "PDI-Bench-edited/third_party/AnomalyDINO"]
	path = infrastructure/vendor/AnomalyDINO
	url = https://github.com/Wilsonnijc-bot/AnomalyDINO.git
	branch = integration/pdi-pairwise
